@font-face
{
font-family: testFont;
src: url('font/PressStart2P.ttf');
}

body{
    background: #222222;
    margin: 0;
    padding: 0;
}

canvas {
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}